/*implementacion MAPS*/
/*EXTEND*/
.nombreColegio {
  display: flex;
  justify-content: center;
  align-items: center; }

/*MIXIN*/
body {
  min-height: 100vh;
  position: relative;
  background-image: url("/imagenes/fondo educativo.jpg"); }

.mainPaginas {
  height: 150vh;
  width: 100vw; }

/*ANIDAMIENTO*/
.footer {
  background-color: rgba(172, 255, 47, 0.473);
  border: solid; }
  .footer .row .parrafoFooter {
    color: #040404;
    font-size: 20px;
    transition: all 4s; }
  .footer .row .div_footer__logo {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    .footer .row .div_footer__logo .footer__logo {
      width: 100px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none; }
  .footer .row .footer__logos {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    padding-top: 50px; }
    .footer .row .footer__logos a {
      color: black;
      text-align: end; }

.parrafoContacto {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #191729;
  font-size: 16px; }

.imagenPrincipal {
  height: 120px;
  width: 120px; }

.nombreColegio {
  /*llamada EXTEND*/
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-top: top;
  font-weight: bolder; }

.barraNavegacion {
  background-color: rgba(5, 97, 5, 0.644);
  font-weight: bold; }

.parrafoHome {
  display: flex;
  direction: column;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  text-align: center;
  color: #191729;
  font-size: 16px; }

li {
  font-size: 12px; }

.carousel-item img {
  height: 500px; }
