*{
    margin: 0;
    padding:0;
}


body {
    min-height: 100vh;
    position: relative;
   
    
}
.bodyIndex {
    
    background-image: url(./imagenes/colegiofrente.jpeg);
}




li{
    color: blue;
}

.parrafoHome {
   font-weight: 900;
    font-style: italic;
    text-align: center;
    color: rgb(25, 23, 41);
    font-size: 16px;
    
}
.parrafoContacto {
    font-weight: 900;
     font-style: italic;
     text-align: center;
     color: rgb(25, 23, 41);
     font-size: 16px;
}

.nombreColegio {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 70px;
    margin-top:top;
    transition: all 1s;
    
}
.parrafoHome {
    
     font-style:normal;
     text-align: center;
     color: rgb(25, 23, 41);
     font-size: 16px;
     
 }
 .parrafoNosotros {
    font-weight: auto;
    font-style: italic;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
 }

.parrafoFooter {
    color: rgb(4, 4, 4);
    font-size: 20px;
    /*LISTO PARA MERGEAR*/
    transition: all 4s;

}
.parrafoNoticias {
    text-align: center;
}


.imagenPrincipal {
    height: 120px;
    width: 120px;
}
.inicio {
    text-align: center;
    font-size: 40px;
    
}
.mainIndex {
    height: 150vh;
    width: 100vw;
}
.mainContacto {
    height: 150vh;
    width: 100vw;
}
.mainNoticias {
    height: 150vh;
    width: 100vw;
}
.mainNiveles {
    height: 150vh;
    width: 100vw;
}
.mainNosotros {
    height: 150vh;
    width: 100vw;
}
.footer {
    background-color: rgba(172, 255, 47, 0.473);
    border: solid;
}

.carousel-item {
    height: 500px;
}
.carousel-item img {
    height: 500px;
}
.frenteColegio {
    height: 500px;
    width:1000px ;
}
.barraNavegacion{
      background-color: rgba(5, 97, 5, 0.644);
}
.footer__logo {
    width: 100px;
    height: auto;
    position: relative;
    
}
.footer__logos {
    display: flex;
    justify-content: space-evenly;
    
    
} 
.footer__logos a {
   color: black;
}
.grid__Contacto {
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
}
.formulario{
    border-style: solid;
    
    
}