.parrafoFooter {
    color: rgb(4, 4, 4);
    font-size: 20px;
    transition: all 4s;

}
.footer {
    background-color: rgba(172, 255, 47, 0.473);
    border: solid;
}
.footer__logo {
    width: 100px;
    height: auto;
    position: relative;
    
}
.footer__logos {
    display: flex;
    justify-content: space-evenly;
    
    
} 
.footer__logos a {
   color: black;
}