.nombreColegio {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 70px;
    margin-top:top;
    transition: all 1s;
    
}
.barraNavegacion{
    background-color: rgba(5, 97, 5, 0.644);
}
.parrafoHome {
    
    font-style:normal;
    text-align: center;
    color: rgb(25, 23, 41);
    font-size: 16px;
    
}
.nombreColegio {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 70px;
    margin-top:top;
    transition: all 1s;
    
}
.imagenPrincipal {
    height: 120px;
    width: 120px;
}