.parrafoNosotros {
    font-style:normal;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid;
    color: rgb(25, 23, 41);
    background-color: rgb(33, 37, 37);
    font-size: 18px;
}
 
